APP_NAME="Multi Vendor Ecommerce"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://multi-vendor.localhost
APP_FRONTEND_URL=http://localhost:3000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=multi_vendor_ecommerce
DB_TEST_DATABASE=multi_vendor_ecommerce_test
DB_USERNAME=app
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
CACHE_STORE=redis
QUEUE_CONNECTION=redis
QUEUE_FAILED_DRIVER=database-uuids
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

MAIL_MAILER=log
# MAIL_MAILER=smtp (For Production)
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
# MAIL_HOST=smtp.gmail.com (For Production)
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@multi-vendor.localhost
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1,multi-vendor.localhost

COMPOSE_PROJECT_NAME=multi_vendor_ecommerce
COMPOSE_PROFILES=db-admin
APP_PORT=
FORWARD_DB_PORT=
FORWARD_PMA_PORT=
FORWARD_REDIS_PORT=
WWWUSER=1000
WWWGROUP=1000

APP_DOMAIN_ENABLED=true
APP_WWW_TLS_ENABLED=false
APP_NONWWW_TLS_ENABLED=false
APP_PROTOCOL=http
APP_DOMAIN=multi-vendor.localhost
APP_REDIRECT_TO=nonwww

PMA_DOMAIN_ENABLED=true
PMA_WWW_TLS_ENABLED=false
PMA_NONWWW_TLS_ENABLED=false
PMA_PROTOCOL=http
PMA_DOMAIN=pma.multi-vendor.localhost
PMA_REDIRECT_TO=nonwww
PMA_ABSOLUTE_URI=http://pma.multi-vendor.localhost/

ESEWA_MODE=sandbox
ESEWA_BASE_URL=https://rc-epay.esewa.com.np
ESEWA_FORM_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_CHECK_URL=https://rc.esewa.com.np/api/epay/transaction/status
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q(
ESEWA_SUCCESS_URL=http://multi-vendor.localhost/api/payments/esewa/success
ESEWA_FAILURE_URL=http://multi-vendor.localhost/api/payments/esewa/failure

TRAEFIK_NETWORK_NAME=traefik-network
